<ion-view title="About API Connect" id="page4">
  <ion-content padding="true" class="has-header">
   	<p>Copyright 2017 IBM Corp.
		Application programming interfaces (API) are the digital glue that links services, applications, sensors and mobile devices to create compelling customer experiences and help businesses tap into new market opportunities. They allow you to bring new digital services to market, open revenue channels and exceed customer expectations.</p>

    <p>IBM API Connect is an API management solution that addresses critical aspects of the API lifecycle for both on-premises and cloud environments providing the capability to create, run, manage and secure APIs and microservices.</p>

    <a href="http://www-03.ibm.com/software/products/en/api-connect">Learn about APIConnect</a>

	

</ion-content>
</ion-view>